<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">All Propertie</h1>
                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary" [ngClass]="{active:pricing == 'Sell'}"
                            (click)="changePricing('Sell')">
                            For Sell
                        </a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary" [ngClass]="{active:pricing == 'Rent'}"
                            (click)="changePricing('Rent')">
                            For Rent
                        </a>
                    </li>
                    <li class="nav-item me-0">
                        <a class="btn btn-outline-primary" [ngClass]="{active:pricing == 'Both'}"
                            (click)="changePricing('Both')">
                            Both
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="listing-container">
            <div class="tab-pane fade show p-0">
                <div class="row g-4">
                    <ng-container *ngFor="let property of propertyList;let i = index">
                        <div class="col-lg-4 col-md-6">    
                            <div class="property-item rounded overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <mat-icon class="eidtIcon" routerLink="/auth/edit-property/{{property?._id}}">edit</mat-icon>
                                    <mat-icon class="deleteIcon" (click)="deleteProperty(property._id)" *ngIf="userData.userType=='ADMIN'">remove_circle</mat-icon>
                                    <a routerLink="/auth/property-details/{{property?._id}}"><img class="img-list" src="{{ImageUrl}}properties/{{property.images[0]}}" alt=""></a>
                                    <div
                                        class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                        For {{property.pricing}}</div>
                                    <div
                                        class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                        {{property.propertyType}}</div>
                                </div>
                                <div class="p-4 pb-0">
                                    <h5 class="text-primary mb-3">₹{{property.price}}</h5>
                                    <a class="d-block h5 mb-2" href="">{{property.title}}</a>
                                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{property.address}}
                                    </p>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2">
                                        <i
                                            class="fa fa-ruler-combined text-primary me-2"></i>{{property.propertyArea}}
                                        Sqft
                                    </small>
                                    <ng-container *ngIf="property.useCase=='Residental'">
                                        <small class="flex-fill text-center border-end py-2"><i
                                                class="fa fa-bed text-primary me-2"></i>{{property.bedRooms}} Bed</small>
                                        <small class="flex-fill text-center py-2"><i
                                                class="fa fa-bath text-primary me-2"></i>{{property.bathRooms}} Bath</small>
                                    </ng-container>
                                    <ng-container *ngIf="property.useCase=='Commercial'">
                                        <small class="flex-fill text-center border-end py-2"><i
                                                class="fa fa-bed text-primary me-2"></i>{{property.garages}} Garages</small>
                                        <small class="flex-fill text-center py-2"><i
                                                class="fa fa-bath text-primary me-2"></i>{{property.basements}} Basements</small>
                                    </ng-container>

                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- <div class="col-12 text-center">
                        <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>